html {
    box-sizing: border-box;
    // font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

#root {
    min-height: 100vh;
}

.paging-item {
    button {
        padding: 1px;
    }
}

/* CSS for form */
.img-uploaded {
    height: 86px;
}

.ant-card-head-title {
    display: inline-block;
    -ms-flex: 1;
    flex: 1 1;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-card-head {
    min-height: 0;
    margin-bottom: -1px;
    padding: 6px 13px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}

.footer-card-form {
    // margin-top: $spacingSection;
    background: #fff;
    button + button,
    a + button {
        margin-left: 10px;
    }
}
.disable-search{
    display: none !important;
}

.category-transfer{
    .ant-checkbox-wrapper-checked{
        display: none;
    }
    
    .ant-transfer-list-checkbox{
        display: none;
    }
}


.upload-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    width: 92px;
    height: 92px;
}

.avatar-uploader {
    &.img-uploaded-size-auto {
        .ant-upload {
            width: auto !important;
            height: auto !important;
            .img-uploaded {
                width: 100%;
                height: auto;
                max-height: 136px;
            }
        }
    }
}

// .ant-table .ant-table-container .ant-table-content table .ant-table-row svg{
//     color: #f69600;
// }

// .ant-modal-confirm-btns .ant-btn-primary{
//     background-color: #f69600;
// }


// .ant-modal-confirm-btns {

//     .ant-btn-default:hover{
//         border-color: #ffb429;
//         color: #ffb429;
//     }

//     .ant-btn-primary{
//         background-color: #f69600;

//         &:hover{
//             background-color: #ffb429;
//         }
//     }
// }
